section.career_main{
  height:auto;
  padding: 5rem 2rem 0 2rem;
  background-color: #fff;
  margin: 60px 10px;
}

.career_main h2{
  font-size: 60px;
  color: #12a9e0;
  text-align: center;
  padding-bottom: 5px;
  margin: 30px 0 0px 0;
}
.career_inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 70px 0;
}
.career_inner article{
  width: 30%;
    background-color: white;
    margin: 0.55em;
    text-align: center;
    border-radius: 10px;
    padding: 15px 0;
    transition: all 0.5s ease;
    border-color: #009688;
    border-width: 2px;
}
.career_inner_text{
  text-align: center;
  margin: auto;
  padding: 1px 20px 50px 20px;
  max-width: 850px;
  background: white;
  text-align: center;
  box-shadow: 0 10px 50px -15px rgb(52 53 72 / 50%);
  transition: transform .4s ease-out, box-shadow .4s ease-out;
}
.career_inner article a{
  text-decoration: none;
}
.career_inner_text p{
  font-size: 20px;
  line-height: 28px;
}
.career_name{
    color: #12a9e0;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
}
.career_category{
  color: black;
}
.career_location{
  color: grey;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 1023px) and (max-width: 1056px) {
  .career_inner article{width: 45%;}
}
@media screen and (min-width: 900px) and (max-width: 1024px) {
    .career_inner article{width: 45%;}
  }

@media screen and (min-width: 480px) and (max-width: 900px) {
    .career_inner article{width: 80%;}
  }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .career_inner article{width: 100%;}
}
