html,
body {
  margin: 0;
  padding: 0;
  font-family: "Product Sans", sans-serif;
  background-color: #fff;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}
section {
  display: block;
  margin: 2%;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.logo {
  width: 72px;
  max-height: 72px;
  float: left;
}
.logo_text {
  color: black;
  letter-spacing: 1px;
  cursor: pointer;
  float: left;
  font-weight: bolder;
  font-size: 1rem;
}

nav {
  background-color: #fff;
  text-align: right;
  padding: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
nav ul li {
  display: inline;
  margin: 0.5em;
  font-size: large;
}

nav ul li a {
  color: #004f7d;
  text-decoration: none;

  font-size: large;
}

nav ul li a:hover {
  color: #00ade5;
  text-decoration: underline;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
}

#banner {
  background-image: url("../images/banner1.jpg");
  background-size: cover;
  height: 70%;
  width: 100%;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  background-position: center bottom;
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner {
  text-align: center;
  padding-top: 10%;
}
.banner_name {
  font-size: 2em;
  color: #616161;

  margin-top: 8px;
  text-align: center;
}
.banner span {
  color: #616161;

  font-weight: bolder;
}
.heading {
  font-size: 4em;
  color: #212121;
  font-weight: 900;
  text-align: center;
}
.submit_button {
  background-color: #eee;
  border-color: #005587;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  opacity: 0.8;
}

.submit_button:hover {
  opacity: 1;
}

.programs {
  position: relative;
  top: 20px;
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  text-align: left;
}

.contributors {
  font-size: 1.1em;
  font-family: "Product Sans", sans-serif;
  color: #004f7d;
  text-align: left;
  height: auto;
}
.contributors h3 {
  font-size: 2em;
  color: #004f7d;
  text-align: center;
  vertical-align: sub;
  text-transform: capitalize;
  padding: 30px;
  margin-bottom: 0;
}

.team_member_section {
  padding-bottom: 10px;
}
.member_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
article {
  width: 16%;
  background-color: white;
  margin: 1.5em;
  text-align: center;
  border-radius: 25px;
  padding: 15px 0;
  transition: all 0.5s ease;
  border-color: #f1f1f1;
  border-style: solid;
  border-width: 5px;
}

article:hover {
  transform: scale(1.05);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.member_img {
  border-radius: 50%;
  max-width: 50%;
  height: auto;
  transition: all 0.3s ease;
}
.member_img:hover {
  transform: scale(1.15);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.member_name {
  display: inherit;
  text-decoration: none;
  color: #004f7d;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: bold;
  margin: 5px 0;
}
.member_name:hover {
  color: #212121;
}

.designation {
  font-size: 1rem;
  color: grey;
  margin: 10px;
  font-weight: bold;
}

.education {
  font-size: 0.9rem;
  line-height: 20px;
  color: #00ade5;
  margin: 6px 0;
  font-weight: bold;
}
a.member_contact {
  display: inherit;
  text-decoration: none;
  background-color: #004f7d;
  color: #fff;
  margin: 8% 15% 3% 15%;
  padding: 8px 0;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.member_contact:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
social a {
  text-decoration: none;
}

.fa {
  font-size: xx-small !important;
  padding: 8px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.fa:hover {
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

#contact_img {
  max-width: 20%;
  height: auto;
  margin-top: 5%;
}
.contact_section {
  padding: 50px;
  margin-right: 30%;
  margin-left: 30%;
  text-align: center;
  border-radius: 1.5%;
}
.contact_section a:link {
  text-decoration: none;
}

.contact_section h3 {
  font-size: 2em;
  color: #004f7d;
  text-align: center;
  vertical-align: top;
  text-transform: capitalize;
}
.contact_form {
  margin: 0 20px 0 0;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 5px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Product Sans", sans-serif;
}

input[type="submit"] {
  background-color: #004f7d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: medium;
  font-weight: bolder;
  font-family: "Product Sans", sans-serif;
  width: 30%;
}

input[type="submit"]:hover {
  background-color: #00ade5;
}
footer {
  display: block;
  background-color: #323232;
  text-align: center;
  padding: 1%;
  border-radius: 5px;
  margin: 0.5%;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.footer_text span {
  color: gray;
}
.footer_text {
  margin-bottom: 1rem;
  line-height: 1.7em;
  font-size: 1em;
  color: #eceff1;
  text-align: center;
  text-transform: none;
}

ol.contributors_list li {
  margin: 15px 0;
  padding-right: 10px;
}
ol.contributors_list {
  column-count: 2;
  padding-bottom: 4%;
  margin-left: 5%;
  color: #00ade5;
}
ol.contributors_list li a {
  color: #004f7d;
  text-decoration: none;
}
ol.contributors_list li a:hover {
  color: #00ade5;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 900px) and (max-width: 1024px) {
  #banner {
    height: 60%;
  }
  ul.header-menu li {
    font-size: small;
    margin-left: 10px;
  }
  article {
    width: 50%;
  }
  .contact_section {
    padding: 20px;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
  }
  input[type="text"],
  select,
  textarea {
    width: 80%;
  }
  input[type="submit"] {
    width: 30%;
  }
}

@media screen and (min-width: 480px) and (max-width: 900px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }

  #banner {
    height: 40%;
    padding-top: 10%;
  }

  article {
    width: 40%;
  }

  #contact_img {
    max-width: 20%;
    height: auto;
  }
  .contact_section {
    padding: 20px;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
  }

  input[type="text"],
  select,
  textarea {
    width: 80%;
  }
  input[type="submit"] {
    width: 30%;
  }
  ul.header-menu li {
    font-size: small;
    margin-left: 10px;
  }
  ol.contributors_list {
    column-count: 1;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .banner {
    padding-top: 20%;
  }

  .banner_name {
    font-size: 2em;
    color: #fff;
  }
  .logo {
    display: none;
  }

  .heading {
    font-size: 2.5em;

    font-weight: 900;
    padding-top: 50px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li a {
    display: block;
    text-decoration: none;
    font-size: medium;
  }

  article {
    width: 100%;
  }

  .contact_section {
    padding: 10px;
    margin-right: 1%;
    margin-left: 1%;
    text-align: center;
  }
  input[type="text"],
  select,
  textarea {
    width: 80%;
  }
  input[type="submit"] {
    width: 30%;
  }
  ol.contributors_list {
    column-count: 1;
  }
  .contributors h3 {
    font-size: 1.5em;
    line-height: 1.2em;
  }
}
