html,
body {
  margin: 0;
  padding: 0;
  font-family: "Product Sans", sans-serif;
  background-color: #fff;
}

section {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  width: 40px;
  max-height: 40px;
  float: left;
  padding: 15px;
  text-align: center;
  transition: all 0.3s ease;
}
.logo:hover {
  transform: scale(1.05);
}
.logo_text {
  color: #212121;
  letter-spacing: 1px;
  cursor: pointer;
  float: left;
  font-weight: bolder;
  font-size: 1rem;
}

nav {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  text-align: right;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 98%;
}
nav ul li {
  display: inline;
  margin: 0.5em;
  font-size: large;
}

nav ul li a {
  color: #212121;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: large;
  display: inline-block;
  position: relative;
  padding: 2px;
}

nav ul li a:hover:after {
  color: #78909c;
  transform: scaleX(1);
  transform-origin: bottom left;
}
nav ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #212121;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.3em;
  color: white;
  font-weight: bold;
}

#banner {
  background-image: url("../images/banner2.jpg");
  background-size: cover;
  height: 80%;
  width: 100%;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  background-position: center bottom;
  min-height: 900px;
 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  text-align: center;
  padding-top: 20%;
}
.banner_name {
  font-size: 2em;
  color: #424242;
  margin-top: 8px;
  text-align: center;
}
.banner span {
  color: #616161;

  font-weight: bolder;
}
.heading {
  font-size: 4em;
  color: #212121;
  font-weight: 900;
  text-align: center;
}
.our_work {
  background-color: #eee;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  opacity: 0.8;
}

.our_work:hover {
  opacity: 1;
}

.view_services {
  display: inline-block;
  margin-top: 15px;
  padding: 12px;
  border: 0;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.view_services a {
  font-family: "Product Sans", sans-serif;
  font-size: small;
  font-weight: bold;
  color: #424242;
  text-decoration: none;
}

.view_services:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.programs {
  position: relative;
  top: 20px;
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  text-align: left;
}

.services_section{
  background-image: url('/images/pattern-r.svg');
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.services {
  font-size: 1.1em;
  font-family: "Product Sans", sans-serif;
  line-height: 1.6;
  height: auto;
  padding: 2%;
 }
.services_icons{
  display: flex;
  flex-direction: row;
 justify-content: space-around;
}

.fa-android{
  background-color: #81C784;
  color: white;
}
.fa-html5{
  background-color: #1E88E5;
  color: white;
}
.fa-css3 {
  background-color: #FF5722;
  color: white;
}
.fa-gamepad {
  background-color: #009688;
  color: white;
}
.fa-laptop {
  background-color: #607D8B;
  color: white;
}
.services h3 {
  font-size: 2em;
  color: #212121;
  text-align: center;
  margin-bottom: 0;
}
.services article {
  margin: auto;
  width: 50%;
  background-color: white;
  margin: 1.5em;
  text-align: center;
  border-radius: 25px;
  padding: 80px;
  transition: all 0.5s ease;
  border-color: #f1f1f1;
  border-style: solid;
  border-width: 5px;
  box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.1);
}
.services_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inner_text {
  font-size: 1.3rem;
  color: grey;

  font-weight: bold;
}

.about_section {
  background-image: url('/images/pattern-l.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about_us {
  font-size: 1.1em;
  font-family: "Product Sans", sans-serif;
  margin-top: 5%;
  height: auto;
  padding: 2%;
}
.about_us h3 {
  font-size: 2em;
  color: #212121;
  text-align: center;
  margin-bottom: 0;
}
.about_us article {
  margin: auto;
  width: 60%;
  line-height: 1.6;
  background-color: white;
  margin: 1.5em;
  text-align: center;
  border-radius: 25px;
  padding: 50px;
  transition: all 0.5s ease;
  border-color: #f1f1f1;
  border-style: solid;
  border-width: 5px;
  box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.1);
}
.about_us_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about_text {
  font-size: 1.3rem;
  font-weight: bold;
  color: #212121;


}

.contributors {
  font-size: 1.1em;
  font-family: "Product Sans", sans-serif;
}
.contributors h3 {
  font-size: 2em;
  color: #212121;
  text-align: center;
  vertical-align: sub;
  text-transform: capitalize;
}

.team_member_section {
  padding-bottom: 5px;
}
.member_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
article {
  width: 16%;
  background-color: white;
  margin: 1.5em;
  text-align: center;
  border-radius: 25px;
  padding: 15px 0;
  transition: all 0.5s ease;
  border-color: #f1f1f1;
  border-style: solid;
  border-width: 5px;
}

article:hover {
  transform: scale(1.05);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.member_img {
  border-radius: 50%;
  max-width: 50%;
  height: auto;
  transition: all 0.3s ease;
}
.member_img:hover {
  transform: scale(1.15);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.member_name {
  display: inherit;
  text-decoration: none;
  color: #212121;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: bold;
  margin: 5px 0;
}
.member_name:hover {
  color: #323232;
}

.designation {
  font-size: 1rem;
  color: grey;
  margin: 10px;
  font-weight: bold;
}

.education {
  font-size: 0.9rem;
  line-height: 20px;
  color: #424242;
  margin: 6px 0;
  font-weight: bold;
}
a.member_contact {
  display: inherit;
  text-decoration: none;
  background-color: #424242;
  color: #fff;
  margin: 8% 15% 3% 15%;
  padding: 8px 0;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.member_contact:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.contact_social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
social a {
  text-decoration: none;
}
social p {
  color: #424242;
  font-family: "Product Sans", sans-serif;
  font-weight: bold;
}

.fa {
  font-size: large !important;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.fa:hover {
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
}
.fa-phone {
  background: #55acee;
  color: white;
}
.fa-comment {
  background: #125688;
  color: white;
}

.fa-globe {
  background: #ea4c89;
  color: white;
}

#contact_img {
  max-width: 20%;
  height: auto;
  margin-top: 5%;
}
.contact_section {
  padding: 50px;
  text-align: center;
  margin: auto;
  width: 80%;
  border-color: #f1f1f1;
  border-style: solid;
  border-width: 5px;
  box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-image: url('../images/pattern-tr.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.contact_section a:link {
  text-decoration: none;
}

.contact_section h3 {
  font-size: 2em;
  color: #212121;
  text-align: center;
}
.contact_section form {
  width: 80%;
  margin: auto;
}
.fname-lname {
  display: flex;
  flex-direction: row;
}
.email-message {
  display: flex;
  flex-direction: column;
}

.contact_section_message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 5px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: vertical;
  font-family: "Product Sans", sans-serif;
}

input[type="submit"] {
  background-color: #212121;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: medium;
  font-weight: bolder;
  font-family: "Product Sans", sans-serif;
  width: 50%;
  margin-top: 10px;
  box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.1);
}

input[type="submit"]:hover {
  background-color: #616166;
  
}
footer {
  display: block;
  background-color: #212121;
  text-align: center;
  padding: 1%;
  height: 20%;
  height: auto;
  margin-top: 10%;
  clear: both;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #fff;
}
.footer-socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.footer-socials li {
  margin: 0 10px;
}

.footer-socials a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 10%;
}

.footer-socials a i {
  font-size: 1.1rem;
  width: 30px 30px;
  transition: color 0.4s ease;
}

.footer-socials a:hover i {
  color: #616161;
}

ol.contributors_list li {
  margin: 15px 0;
  padding-right: 10px;
}
ol.contributors_list {
  column-count: 2;
  padding-bottom: 4%;
  margin-left: 5%;
  color: #00ade5;
}
ol.contributors_list li a {
  color: #004f7d;
  text-decoration: none;
}
ol.contributors_list li a:hover {
  color: #00ade5;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 900px) and (max-width: 1024px) {
  #banner {
    height: 60%;
  }
  ul.header-menu li {
    font-size: small;
    margin-left: 10px;
  }
  .about_us {
    font-size: 1em;
  }
  .about_us h3 {
    font-size: 2em;
  }
  .about_us article {
    width: 60%;
  }
  .about_text {
    font-size: 1rem;
    font-weight: bold;
   
  
  }
  article {
    width: 50%;
  }
  .contact_section {
    padding: 20px;

    text-align: center;
  }
  input[type="text"],
  select,
  textarea {
    width: 80%;
  }
  input[type="submit"] {
    width: 50%;
  }
}

@media screen and (min-width: 480px) and (max-width: 900px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }

  .about_us {
    font-size: 1em;
  }
  .about_us h3 {
    font-size: 2em;
  }
  .about_us article {
    width: 50%;
   
  }
  .about_text{
    display: none;

  }
  .services_icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
  }
  .services {
    font-size: 1em;
  }
  .services h3 {
    font-size: 2em;
  }
  .services article {
    width: 50%;
    padding: 1px;
  }

  #banner {
    height: 40%;
    padding-top: 10%;
  }

  .contact_section {
    padding: 20px;
    margin: auto;
    text-align: center;
  }
  .contact_social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .fname-lname {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input[type="text"],
  select,
  textarea {
    width: 80%;
  }
  input[type="submit"] {
    width: 60%;
  }
  ul.header-menu li {
    font-size: small;
    margin-left: 10px;
  }
  ol.contributors_list {
    column-count: 1;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .banner {
    padding-top: 40%;
  }

  .banner_name {
    font-size: 2em;
    
  }
  .logo {
    display: none;
  }

  .heading {
    font-size: 2.5em;

    font-weight: 900;
    padding-top: 50px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li a {
    display: block;
    text-decoration: none;
    font-size: medium;
  }

  .about_us {
    font-size: 0.8em;
  }
  .about_us h3 {
    font-size: 1.8em;
  }
  .about_us article {
    width: 50%;
  }
  .services {
    font-size: 0.8em;
  }
  .services h3 {
    font-size: 1.8em;
  }
  .services article {
    width: 50%;
    padding: 50px;
  }
  .about_text {
    display: none;
  
  }
  .services_icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
 
  .inner_text {
    font-size: 0.8rem;
    color: grey;

    font-weight: bold;
  }
 

  .contact_section {
    width: max-content;
    margin: auto;
    text-align: center;
    font-size: 0.8em;
  }
  .contact_section h3 {
    font-size: 1.8em;
  }
  .contact_social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .fname-lname {
    display: flex;
    flex-direction: column;
  }
  input[type="text"],
  select,
  textarea {
    width: 80%;
  }
  input[type="submit"] {
    width: 80%;
  }
  ol.contributors_list {
    column-count: 1;
  }
  .contributors h3 {
    font-size: 1.5em;
    line-height: 1.2em;
  }
  .fa {
    font-size: small !important;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: 5px;
  }
}
