.career_banner{
  background-image: url(../images/inner-banner.jpg);
  background-size: cover;
  height: 80%;
  width: 100%;
  text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
  min-height: 530px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.career_banner_heading{
  font-size: 4em;
    color: #212121;
    font-weight: 900;
  text-align: center;
    padding-top: 20%;
    text-transform: uppercase;
}

.career_banner_para{
  font-size: 2em;
    color: #616161;
    margin-top: 8px;
    text-align: center;
}
.career_banner .view_services{
  margin: 1% 44%;
}
section.career_main{
  height:auto;
  padding: 5rem 2rem 0 2rem;
  background-color: #fff;
  margin: 60px 10px;
  width: auto;
}

.career_main h2{
  font-size: 60px;
  color: #212121;
  text-align: center;
  padding-bottom: 5px;
  margin: 30px 0 0px 0;
  text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}
.career_inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 70px 0;
}
.career_inner article{
  width: 30%;
    background-color: white;
    margin: 0.55em;
    text-align: center;
    border-radius: 10px;
    padding: 15px 0;
    transition: all 0.5s ease;
    border-color: #212121;
    border-width: 2px;
    margin-left: 16px;
}
.career_inner_text{
  text-align: center;
  margin: auto;
  padding: 1px 20px 50px 20px;
  max-width: 850px;
  background: white;
  text-align: center;
  box-shadow: 0 10px 50px -15px rgb(52 53 72 / 50%);
  transition: transform .4s ease-out, box-shadow .4s ease-out;
  border-radius: 10px;
}
.career_inner article a{
  text-decoration: none;
}

.career_inner .inner_text{
  color: #212121;
}
.career_inner_text p{
  font-size: 20px;
  line-height: 28px;
}
.career_name{
    color: #424242;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
}
.career_category{
  color: #212121;
  font-size: 18px;
  line-height: 24px;
  padding: 0 16px;
}
.career_location{
  margin-top: 12px;
  margin-bottom: 5px;
  color: #626262;
}
.career_location .fa:hover{
  box-shadow:none;
}
.fa-wordpress{
  background: #21759b;
  color: #fff;
}
.fa-database{
  background-color: #607D8B;
  color: white;
}
.fa-map-marker{
  border-radius: 50%;
  color: #fff;
  background: #424242;
  width: 22px;
  height: 22px;
  opacity: 0.4;
  margin-right: 8px;
}
.contact_section.career_form{
  background-color: #62626245;
  background-image:none
}
input[type="email"] {
  padding: 10px;
    border: 5px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
    font-family: "Product Sans", sans-serif;
    width: 80%;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 1023px) and (max-width: 1056px) {
  .career_inner article{width: 45%;}
}
@media screen and (min-width: 900px) and (max-width: 1024px) {
    .career_inner article{width: 45%;}
    .career_banner_heading{    padding-top: 35%;}
  }

@media screen and (min-width: 480px) and (max-width: 900px) {
    .career_inner article{width: 80%;}
    .career_banner_heading{    padding-top: 35%;}
  }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .career_inner article{width: 100%;}
  .career_banner_heading{    padding-top: 35%;}
}
