<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/about.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/styles.css'>
    <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

</head>
<body>
    <header>
        <nav>
            <div>
                <a href="../index.html"><img class="logo" src="../images/logo.png" alt="logo"></a>
            </div>
            <ul class="header-menu">
                <li><a href="services.html">Services </a></li>
                <li><a href="about.html">About Us </a></li>
                <li><a href="career.html">Careers </a></li>
                <li><a href="our-work.html"><span class="our_work">Our Work</span></a></li>
               
            </ul>
                </nav>
     </header>
     <main>
        <div id="banner">
            <div class="banner">
                <div class ='heading'>Know More About Us.</div>
                <div class="banner_name">High quality solutions in a <span>timely manner.</span></div> 
            </div>
            <div class="bg">
    
            </div>
        </div>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h1>About Us</h1>
                    <p>Lambton Consultancy is a top-rated website and mobile app (Android/iOS) marketing firm with over 500 projects completed.
                    The application development team gained excellent practical experience as well as in-depth technical skills in order to
                    create business-centric B2B and B2C mobile apps that help businesses stay ahead of the competition.
                    High-quality mobile app design, development, testing, and deployment at each stage of the mobile app development
                    lifecycle. Our primary goal is to develop digital products that promote interaction and success.
                    We offer excellent services as well as long-term customer support.</p>
                    <div class="button">
                        <a href="">Read More</a>
                    </div>
                </div>
                <div >
                    &nbsp;
                </div>
            </div>
            <div class="image-section">
                <img src="../images/comp.jpg">
            </div>
        </div>
    </div>
    <section  class="about_section_main">
        <div class="team_section">
            <h2>Our Team</h2>
        </div>
        <div class="about_inner">
            <article>
                <a href="#">
                    <div class="inner_text">
                        <img class="member_img" src="../images/ravneet.JPG" alt="ravneet">
                        <p>Ravneet Singh</p>
                       
                        <i class="fa fa-android"></i>
                        <i class="fa fa-html5"></i>
                        <i class="fa fa-laptop"></i>
                    </div>
                   
                </a>
            </article>
            <article>
                <a href="#">
                    <div class="inner_text">
                        <img class="member_img" src="../images/kruti.jpeg" alt="ravneet">
                        <p>Kruti</p>
            
                        <i class="fa fa-android"></i>
                        <i class="fa fa-html5"></i>
                        <i class="fa fa-laptop"></i>
                    </div>
            
                </a>
            </article>
            <article>
                <a href="#">
                    <div class="inner_text">
                        <img class="member_img" src="../images/gagan.jpeg" alt="ravneet">
                        <p>Gagan</p>
            
                        <i class="fa fa-gamepad"></i>
                        <i class="fa fa-html5"></i>
                        <i class="fa fa-css3"></i>
                    </div>
            
                </a>
            </article>
            <article>
                <a href="#">
                    <div class="inner_text">
                        <img class="member_img" src="../images/prabh.jpeg" alt="ravneet">
                        <p>Prabh</p>
            
                        <i class="fa fa-gamepad"></i>
                        <i class="fa fa-html5"></i>
                        <i class="fa fa-laptop"></i>
                    </div>
            
                </a>
            </article>
              <article>
                <a href="#">
                    <div class="inner_text">
                        <img class="member_img" src="../images/satya.jpeg" alt="ravneet">
                        <p>Satya</p>
                       
                        <i class="fa fa-android"></i>
                        <i class="fa fa-css3"></i>
                        <i class="fa fa-laptop"></i>
                    </div>
                   
                </a>
            </article>
        
           
        </div>
    </section>
    </main>
    <footer>
        <div class="footer-content">
            <h3>Lambton Consultancy</h3>
            <p>Lambton Consultancy is a top Software Development Company with over 500+ successful projects under its belt.
                Our
                Software Developer team has rich industry experience and in-depth technical expertise to develop
                business-centric B2B as
                well as B2C mobile apps that help enterprises to stay ahead in the market. App design, develop, test and
                launch the
                mobile apps that deliver consistent value at every step of the Software development lifecycle.</p>
        </div>
        <ul class="footer-socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    
    </footer>
</body>
</html>