
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lambton Consultancy</title>
    <link rel="icon" href="./images/logo.png" type="image/icon type">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/styles-career.css'>
    <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <nav>
            <div>
                <a href="../index.html"><img class="logo" src="../images/logo.png" alt="logo"></a>
            </div>
            <ul class="header-menu">
                <li><a href="#">Services </a></li>
                <li><a href="about.html">About Us </a></li>
                <li><a href="career.html">Careers </a></li>
                <li><a href="#"><span class="our_work">Our Work</span></a></li>
               
            </ul>
        </nav>
     </header>
     <div id="career_banner" class="career_banner">
            <div class ="career_banner_heading">Inspire the NEXT</div>
            <div class="career_banner_para">Join A Team That Celebrates You Daily! </div>
            <button class="view_services"><a href="#career_main">View Jobs</a></button>
     </div>

<section id="career_main" class="career_main"> 
<div class="career">
    <div>
        
        <div class="career_inner_text">
            <h2>Career</h2>
            <p>We build software using an agile, iterative development method. Instead of diving straight into coding, we start with
            in-depth design and strategy session that helps us make projects more cost effective, and helps us build the right
            thing, every time. Once that’s done, the coding magic begins!</p>
        </div>
        <div  class="career_inner">
            <article>
                <a href="#">
                    <div class="inner_text"><i class="fa fa-android"></i><p>Android Development</p></div>
                    <div class="career_category"><p>Modern tools and resources to help you build experiences that people love, faster and easier, across every Android device.</p></div>
                    <div class="career_location"><i class="fa fa-map-marker"></i>Toronto</div>
                </a>
            </article>

            <article>
                <a href="#">
                    <div class="inner_text"><i class="fa fa-html5"></i><p>Front-End Development</p></div>
                    <div class="career_category"><p>Modern tools and resources to help you build experiences that people love, faster and easier, using Front-End.</p></div>
                    <div class="career_location"><i class="fa fa-map-marker"></i>Mississauga</div>
                </a>
            </article>

            <article>
                <a href="#">
                    <div class="inner_text"><i class="fa fa-gamepad"></i><p>Game Development</p></div>
                    <div class="career_category"><p>Modern tools and resources to help you build experiences that people love, faster and easier using Game Development.</p></div>
                    <div class="career_location"><i class="fa fa-map-marker"></i>Scarborough</div>
                </a>
            </article>

            <article>
                <a href="#">
                    <div class="inner_text"><i class="fa fa-laptop"></i><p>IT Consultancy</p></div>
                    <div class="career_category"><p>Modern tools and resources to help you build experiences that people love, faster and easier, across every Android device.</p></div>
                    <div class="career_location"><i class="fa fa-map-marker"></i>Toronto</div>
                </a>
            </article>

            <article>
                <a href="#">
                    <div class="inner_text"><i class="fa fa-wordpress"></i><p>WordPress Developer</p></div>
                    <div class="career_category"><p>Modern tools and resources to help you build experiences that people love, faster and easier, across every Android device.</p></div>
                    <div class="career_location"><i class="fa fa-map-marker"></i>Toronto</div>
                </a>
            </article>

            <article>
                <a href="#">
                    <div class="inner_text"><i class="fa fa-database"></i><p>Database Administrator</p></div>
                    <div class="career_category"><p>Modern tools and resources to help you build experiences that people love, faster and easier, across every Android device.</p></div>
                    <div class="career_location"><i class="fa fa-map-marker"></i>Toronto</div>
                </a>
            </article>

        </div>
    </div>

    <div id="contact_section" class="contact_section career_form">
       
        <h3>Apply Now</h3>
    </a>
    <div>
        <form action="/">
            <div class="fname-lname">
            <input type="text" id="fname" name="firstname" placeholder="Name">
            
            <input type="email" id="ename" name="email" placeholder="Email">
            
            <select name="jobs" id="jobs">
                <option value="-1" selected="selected">Select Job</option>
                <option value="Android Development">Android Development</option>
                <option value="Front-End Development">Front-End Development</option>
                <option value="Game Development">Game Development</option>
                <option value="IT Consultancy">IT Consultancy</option>
                <option value="WordPress Developer">WordPress Developer</option>
                <option value="Database Administrator">Database Administrator</option>
              </select>
            </div>
            <div class="contact_section_message">
            <textarea id="message" name="subject" placeholder="Message" style="height:170px"></textarea>
        </div>
        <div>
            &nbsp; &nbsp;
        </div>
            <input type="submit" value="Submit">
        </form>
</div>
</div>
</section>
<footer >
    <div class="footer-content">
    <h3>Lambton Consultancy</h3>
    <p>Lambton Consultancy is a top Software Development Company with over 500+ successful projects under its belt. Our
    Software Developer team has rich industry experience and in-depth technical expertise to develop business-centric B2B as
    well as B2C mobile apps that help enterprises to stay ahead in the market. App design, develop, test and launch the
    mobile apps that deliver consistent value at every step of the Software development lifecycle.</p>
    </div>
    <ul class="footer-socials">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
   
</footer>
</body>
</html>