
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lambton Consultancy</title>
    <link rel="icon" href="./images/logo.png" type="image/icon type">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/styles-career.css'>
    <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <nav>
            <div>
                <a href="../index.html"><img class="logo" src="../images/logo.png" alt="logo"></a>
            </div>
            <ul class="header-menu">
                <li><a href="#">Services </a></li>
                <li><a href="about.html">About Us </a></li>
                <li><a href="career.html">Careers </a></li>
                <li><a href="#"><span class="our_work">Our Work</span></a></li>
               
            </ul>
        </nav>
     </header>
<section id="career_main" class="career_main"> 
<div class="career">
    <div>
        
        <div class="career_inner_text">
            <h2>Career</h2>
            <p>We build software using an agile, iterative development method. Instead of diving straight into coding, we start with
            in-depth design and strategy session that helps us make projects more cost effective, and helps us build the right
            thing, every time. Once that’s done, the coding magic begins!</p>
        </div>
        <div class="career_inner">
            <article>
                <a href="#">
                    <h3 class="career_name">Senior Frontend Engineer</h3>
                    <div class="career_category">Enginnering</div>
                    <div class="career_location">Toronto</div>
                </a>
            </article>

            <article>
                <a href="#">
                    <h3 class="career_name">Senior Frontend Engineer</h3>
                    <div class="career_category">Enginnering</div>
                    <div class="career_location">Toronto</div>
                </a>
            </article>

            <article>
                <a href="#">
                    <h3 class="career_name">Senior Frontend Engineer</h3>
                    <div class="career_category">Enginnering</div>
                    <div class="career_location">Toronto</div>
                </a>
            </article>

            <article>
                <a href="#">
                    <h3 class="career_name">Senior Frontend Engineer</h3>
                    <div class="career_category">Enginnering</div>
                    <div class="career_location">Toronto</div>
                </a>
            </article>

            <article>
                <a href="#">
                    <h3 class="career_name">Senior Frontend Engineer</h3>
                    <div class="career_category">Enginnering</div>
                    <div class="career_location">Toronto</div>
                </a>
            </article>

            <article>
                <a href="#">
                    <h3 class="career_name">Senior Frontend Engineer</h3>
                    <div class="career_category">Enginnering</div>
                    <div class="career_location">Toronto</div>
                </a>
            </article>

        </div>
    </div>
</section>
</body>
</html>