<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="./images/logo.png" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../css/styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/our-work.css'>
    <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Our work</title>
</head>
<body>
    <header>
    <nav>
        <div>
        <a href="../index.html">    <img class="logo" src="../images/logo.png" alt="logo"></a>
        </div>
        <ul class="header-menu">
            <li><a href="../template/services.html">Services</a></li>
            <li><a href="../template/about.html">About Us</a></li>
            <li><a href="../template/career.html">Careers</a></li> 
            <li><a href="../template/our-work.html"><span class="our_work">Our Work</span></a></li>
           
        </ul>
            </nav>
    </header>
            <main>
        <div id="our-work_banner" class="our-work_banner">
                <div class ="our-work_banner_heading">Helping businesses succeed</div>
                <div class="our-work_banner_paragraph"><p>Giving your business a better chance!</p></div>
         </div>
            <section id="our-work_main" class="our-work_main">
                <div id="our-workpage" class="our-workpage">
                        <h3>OUR WORK</h3>
                        <div class="our-work_inner">
                         

                            <div class="carousel-wrapper">
                                <div class="carousel-container">
                                  <div class="carousel">
                                    <div>
                                        <h5>Dota - Game development</h5>
                                        <p>Design and development of Dota which is the deepest multi-player action RTS game ever made. Played by millions of players worldwide</p>
                                            <a href="https://www.dota2.com/home">https://www.dota2.com</a> 
                                        <div class="image image-one">        
                                                  
                                        </div>
                                   
                                
                                </div>
                            <div>
                                <h5>Ticktick - Android app development</h5>
                                <p>Development and devops automation for Ticktick app. Capture ideas, organize life, and do something creative everyday with this app.</p>
                                    <a href="https://ticktick.com">https://ticktick.com</a> 
                                        <div class="image image-two">    
                                                             
                                        </div>
                                   
                                    </div>
                                <div>
                                    <h5>Heroku - Cloud services</h5>
                                    <p>Launched fully-managed cloud platform provides end users with the simplest path to delivering apps quickly</p>
                                        <a href="https://www.heroku.com">https://www.heroku.com</a> 
                                        <div class="image image-three">  
                                                     
                                        </div>
                                        
                                  
                                </div>
                                  </div>
                                </div>
                              </div>
                </div>
            </section>
           
            </main>
            <footer >
                <div class="footer-content">
                <h3>Lambton Consultancy</h3>
                <p>Lambton Consultancy is a top Software Development Company with over 500+ successful projects under its belt. Our
                Software Developer team has rich industry experience and in-depth technical expertise to develop business-centric B2B as
                well as B2C mobile apps that help enterprises to stay ahead in the market. App design, develop, test and launch the
                mobile apps that deliver consistent value at every step of the Software development lifecycle.</p>
                </div>
                <ul class="footer-socials">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
               
            </footer>
    </body>  
</html>