<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="./images/logo.png" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../css/styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/Services.css'>
    <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Services</title>
</head>
<body>
    <header>
    <nav>
        <div>
            <a href="../index.html"> <img class="logo" src="../images/logo.png" alt="logo"></a>
        </div>
        <ul class="header-menu">
            <li><a href="#">Services</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="career.html">Careers</a></li> 
            <li><a href="our-work.html"><span class="our_work">Our Work</span></a></li>
           
        </ul>
            </nav>
    </header>
            <main>
        <div id="services_banner" class="services_banner">
                <div class ="services_banner_heading">Solutions to advance your business</div>
                <div class="services_banner_paragraph"><p>We help our clients do what others can’t—operate with human insight, but at superhuman speed. So they get ahead. And stay ahead.</p></div>
         </div>
            <section id="services_main" class="services_main">
                <div id="servicespage" class="servicespage">
                        <h3>OUR SERVICES</h3>
                        <div class="services_inner">
                            <article>
                                <div class="innertext"><i class="fa fa-html5"></i><i class="fa fa fa-css3"></i><p>We build software using an agile, iterative development method. Instead of
                                    diving straight into coding, we start with
                                    in-depth design and strategy session that helps us make projects more cost effective.Then coding magic begins!</p></div>
            
                            </article>
            
                            <article>
                                <div class="innertext"><i class="fa fa-android"></i><p>Android app development services comprise design, development, and enhancement of mobile software that runs on all supported Android OS versions. Targeting Android with native, hybrid, and cross-platform development</p></div>
            
                            </article>

                            <article>
                                <div class="innertext"><i class="fa fa-gamepad"></i><p>Our video game development company runs independent projects, jointly creates games with the client and provides additional operational services. Expertise of our team allows us to cover all gaming platforms</p> </div>
            
                            </article>
            
                            <article>
                                <div class="innertext"><i class="fa fa-laptop"></i><p>We provide IT Services and Cloud Services. We've partnered with global firms to create design systems that solve their most complex product and experience challenges, as well as accelerating the pace of their production</p></div>
                            </article>
                            <article>
                                <div class="innertext"><i class="fa fa-database"></i><p>Upgrade your spreadsheets to sophisticated databases that let you customize workflows and automate processes for every department.View, edit, and manage your data from any device or desktop</p></div>
                            </article>
                            <article>
                                <div class="innertext"><i class="fa fa-globe"></i><p>We help clients set strategies in motion that unify business and technology architectures, generate growth and enable competitive advantage.Implementing an effective digital strategy across front, back-office IT environments is crucial.</p></div>
                            </article>
                        </div>
                </div>
            </section>
           
            </main>
            <footer >
                <div class="footer-content">
                <h3>Lambton Consultancy</h3>
                <p>Lambton Consultancy is a top Software Development Company with over 500+ successful projects under its belt. Our
                Software Developer team has rich industry experience and in-depth technical expertise to develop business-centric B2B as
                well as B2C mobile apps that help enterprises to stay ahead in the market. App design, develop, test and launch the
                mobile apps that deliver consistent value at every step of the Software development lifecycle.</p>
                </div>
                <ul class="footer-socials">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
               
            </footer>
    </body>  
</html>