<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="icon" href="./images/logo.png" type="image/icon type">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/Services.css'>
    <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <nav>
        <div>
            <img class="logo" src="../images/logo.png" alt="logo">
        <!--<h2 class="logo_text">&nbsp;Lambton Consultancy</h2>-->
        </div>
        <ul class="header-menu">
            <li><a href="about.html">About Us</a></li>
            <li><a href="career.html">Careers</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#"><span class="our_work">Our Work</span></a></li>
           
        </ul>
            </nav>
            <section>
                <div id="servicespage" class="servicespage">
                        <h2>SERVICES</h2>
                        <div class="servicespage_inner">
                            <article>
                                <div class="inner_text"><i class="fa fa-html5"></i><i class="fa fa fa-css3"></i><p>We build software using an agile, iterative development method. Instead of
                                    diving straight into coding, we start with
                                    in-depth design and strategy session that helps us make projects more cost effective.Then coding magic begins!</p></div>
            
                            </article>
            
                        </div>
                        <div class="servicespage_inner">
                            <article>
                                <div class="inner_text"><i class="fa fa-android"></i><p>Android app development services comprise design, development, and enhancement of mobile software that runs on all supported Android OS versions. Targeting Android with native, hybrid, and cross-platform development</p> </div>
            
                            </article>
            
                        </div>
                        <div class="servicespage_inner" >
                            <article>
                                <div class="inner_text"><i class="fa fa-gamepad"></i> <p>Our video game development company runs independent projects, jointly creates games with the client and provides additional operational services. Expertise of our team allows us to cover all gaming platforms</p> </div>
            
                            </article>
            
                        </div>
                        <div class="servicespage_inner">
                            <article>
                                <div class="inner_text"><i class="fa fa-laptop"></i><p>We provide IT Services and Cloud Services. We've partnered with global firms to create design systems that solve their most complex product and experience challenges, as well as accelerating the pace of their production</p></div>
                            </article>
            
                        </div>
                    </div>
            </section>
           
            
            <!-- <footer>
                <div class="footer-content">
                <h3>Lambton Consultancy</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec luctus mauris. Cras sodales eros sit amet sem
                suscipit venenatis. Curabitur convallis, sem non aliquam venenatis, odio metus luctus metus, eget ultricies nisl elit
                vitae lacus.</p>
                </div>
                <ul class="footer-socials">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
               
            </footer> -->
    </body>
</html>